#bigfoot {
    background-color: #2ed573;
    text-align: center;
    min-height: 300px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
    
    
}
#bigfoot a {
    color: black;
}

#bigfoot a:hover {
    color: brown;
}

#foot1{
    text-align: center; 
    padding-top: 10px;

}

#foot2{
    text-align: center;
    }
 
    #foot3{
        text-align: center;
        }