@import url('https://fonts.googleapis.com/css?family=Poppins');
 

#video  #logo { 
    position: absolute;
    color: #fff;    
    text-shadow: 5px 5px #2C3A47;
    left: 50%;
    padding-top: 20px;
    text-align: center;    
    font-family: 'Poppins', sans-serif;
}
  